@use "../styles/mixins";
@use "../styles/variables";

.messages {
  @include mixins.chatSection;
}

.inputWrapper {
  display: flex;
  position: relative;
  width: 100%;
}

.emojiPicker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  height: 60vh;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 60px;
  opacity: 0.9;
}
.chatRoom {
  display: flex;
  flex-direction: column;
  height: 80vh;
  input {
    font-size: 1em;
    width: 100%;
    padding-left: 8px;
    background-color: variables.$background-lighter-color;
    border: none;
    color: inherit;

    &:focus-visible {
      outline: none;
    }
  }

  .icon {
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: variables.$background-lighter-color;
    transition: all 0.1s ease-in-out;
    border: none;
    color: inherit;
    cursor: pointer;

    &:first-child {
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
    }
    @media (hover: hover) {
      &:hover {
        background-color: variables.$text-color-high-emphasis;
        color: variables.$background-lighter-color;
      }
    }

    &:active {
      background-color: variables.$text-color-high-emphasis;
      color: variables.$background-lighter-color;
    }
    svg {
      height: 28px;
      width: 28px;
      stroke-width: 1.5;
    }
  }
  .iconActive {
    background-color: variables.$text-color-high-emphasis;
    color: variables.$background-lighter-color;
  }
}

@media (max-width: 600px) {
  .chatRoom > ul {
    @include mixins.chatSectionSmall;
  }
}
