@use "../styles/mixins";

.signIn {
  font-family: "Arvo", serif;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 10vh;

  @include mixins.signInCard;

  .signInWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;
  }
}

@media (max-width: 500px) {
  .signIn {
    @include mixins.signInCardSmall;
  }
}
